.home-container{
    width: 100%;
    background: #EFEFEF;
    background-image: url(./image\ 146.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    padding: 200px 0 220px 0 ;
}

.home-container .title{
    display: flex;
    align-items: center;
    justify-content:start;
    flex-direction: column;
    flex-wrap: wrap;
}

.home-container .title .head-hent{
    color: #6B4EFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.home-container .title .head-link-info{
    text-decoration: none;
    margin-top: -55px;
    margin-bottom: -40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home-container .title .head-link-info p:hover{
    color: #2b01ffdc;
    text-decoration: underline;
}

.home-container .title .head-link-info p{
    width: 75%;
    text-align: center;
    color: #131214;
    font-size: 64px;
    font-weight: 700;
    line-height: 120%; 
    margin-top: 85px;
}    

.home-container .title .head-description{
    width: 50%;
    color: #131214;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    letter-spacing: .5px;
    margin-top: 80px;
}
.home-container .title .links-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:16px ;
    margin-top: 50px;
}

.home-container .title .links-btn .active,
.home-container .title .links-btn .preview{
    width: 226px;
    height: 48px;
    border-radius: 48px;
    background: #7257FF;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    transition: all .2s;
    cursor: pointer;
}

.home-container .title .links-btn .preview{
    background-color: white;
    color: #000000;
    border:  solid 1px  black; 
}

.home-container .title .links-btn .active:hover{
    background-color: #5330ff;
}

.home-container .title .links-btn .preview:hover{
    background-color: #6B4EFF;
    color: white;
}









