

.container {
    width: 81%;
    /* height: 737px; */
    background-color: #f4f6f7;
    border: 1px solid;
    border-color: #daddde;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 120px;
    padding: 56px;
  }
  
  .container .text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
  
  .container .text-wrapper {
    text-align: start;
    color: #131214;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;    
  }
  
  .container .Includes {
    width: 90%;
    align-self: stretch;
    color: #131214;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 36px;
    text-align: start;
    
  }
  
  .container .image {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 56px;
  }
  .container .image img{
    scale: 1.2;
    width: 300px;
    box-shadow: 0 0 10px 0 #00000050;
    border-radius: 5px;
  }




  